div.child{
    width:200px;
    height:200px;
    background-color:rgb(23, 223, 136);
    border:3px solid white;
    color:rgb(223, 10, 10);
    font-size:30px;
    font-weight:bold;
    text-align:center;
}
.parent{
    display:flex;
    justify-content: center;
    align-items: end;
    border: 2px solid rgb(2, 0, 0);
    height: 500px;
   flex-wrap: wrap;
    gap: 20px;
    align-content: center;
}